/* COLOR PALETTE */
:root {
    --black: #000000;
    --dark-blue: #14213d;
    --light-grey: #8d99ae;
    --almost-white: #edf2f4;
    --wine: #8f0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--almost-white);
    text-align: center;
  }

#content {
    width: 100vw;
    height: 100vh;
 }

nav {
    background-color: var(--black);
    margin: 0 auto;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 }

ul {
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

li {
    margin: 0 20px;
    color: var(--almost-white);
    text-transform: uppercase;
}

li:hover {
    border-bottom: 2px solid var(--almost-white);
    padding-bottom: 4px;
    cursor: pointer;
  }


#home {
    height: 95vh;
    background: url('./media/gourmet1.jpg')  rgba(1, 1, 1, 1)center center fixed;
    background-size: auto;
    background-size: cover;
}

.home-hero {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.home-hero h1 {
    font-size: calc(3rem + 2vw);
    text-align: center;
}

.subtitle {
    line-height: 150%;
    font-size: 96px;
    text-align: center;
    font-style: italic;
    color: var(--wine);
}

.hero-title {
    font-family: 'Castoro Titling', cursive;
    font-size: 80px;
    text-align: center;
    text-transform: capitalize;

    font-size: 64px;
    font-weight: bold;
    margin-top: -68px;
    text-align: center;
    text-transform: uppercase;
}

hr {
    width: 280px;
    border: 2px solid var(--almost-white);
    margin: 24px auto;
}

.title-subtext {
    text-align: center;
    font-size: 24px;
}

.btn-hero {
    font-size: 20px;
    text-transform: uppercase;
    padding: 16px;
    background: var(--black);
    border: none;
    margin: 0 auto;
    margin-top: 40px;
    cursor: pointer;
    color: var(--almost-white);
}

.btn-hero:hover {
    color: var(--wine);
}